*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto,sans-serif; 
   
}
.first{
    background-color:orange ;
}
.second{
    background-color: rgb(10, 92, 10);
}
.third{
    background-color:army green  ;
}

}
